[submodule "vendor/addyosmani-agent-skills"]
	path = vendor/addyosmani-agent-skills
	url = https://github.com/addyosmani/agent-skills.git
[submodule "vendor/claude-android-ninja"]
	path = vendor/claude-android-ninja
	url = https://github.com/Drjacky/claude-android-ninja.git
[submodule "vendor/mattpocock-skills"]
	path = vendor/mattpocock-skills
	url = git@github.com:mattpocock/skills.git
[submodule "vendor/unlazy"]
	path = vendor/unlazy
	url = https://github.com/Leonxlnx/unlazy.git
